<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Business_Sqlserver" connectionString="Data Source=.;Initial Catalog=Testing;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="XLZF.DB.Interface.IDBhelper" value="XLZF.DB.SqlServer.DBhelper,XLZF.DB.SqlServer"/>
  </appSettings>
</configuration>